

.summary {
    
    display: flex;
    padding: 2rem;
    height: auto;
    margin: 2%;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 1px 0px 12px black;
    background-color:white;
}

   

.summary #left-item {
    padding: 12rem;
}


.summary #middle-item {
    
    text-align: center;
    float: none;    
    padding: 2rem;
    margin: 2rem;
    width: fit-content;
}



.summary #right-item {
    width: fit-content;
    margin: 5rem;
    float: right;
    font-size: medium;
} 

