/*--------------------------------------------------------------
                  ***    MAIN CONTAINER  ***
--------------------------------------------------------------*/
.main__container {
    padding-left: 35%;
    padding-right: 35%;
}


@media (max-width: 768px) {
    .main__container {
        padding-left: 20%;
        padding-right: 20%;
    }
}





/*--------------------------------------------------------------------------------------------------------
                 
                                ***  =======  PUMP & PUFFER =======  ***

--------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------
        ***    PUMP & PUFFER  CAROUSEL TITLE  ***
--------------------------------------------------------------*/
 .pump_title,
 .puffer_title {
     position: relative;
     justify-content: center;
     color: #30302e;
     text-align: center;
     font-weight: bolder;
 }
 

 /*--------------------------------------------------------------
     ***    PUMP & PUFFER  CAROUSEL TITLE - SMALL SIZE ***
--------------------------------------------------------------*/
  @media (max-width: 416px) {
     .pump_title,
     .puffer_title {
         font-size: 1.5rem;
     }
 }









/*--------------------------------------------------------------------------------------------------------
                 
                                ***  =======  PUMP =======  ***

--------------------------------------------------------------------------------------------------------*/


/*--------------------------------------------------------------
                  ***    PUMP CONTAINER  ***
--------------------------------------------------------------*/
/* carousel pump container */
  .carousel-container-pump{
    width: 100%;
    flex-grow: 1;
  }


/*--------------------------------------------------------------
          ***    PUMP BUTTONS - NORMAL SIZE ***
--------------------------------------------------------------*/
 .pumpSlider-controls {
    position: relative;
    margin-bottom: 120px;
    top: -120px;
    align-items: end;
}

.pumpSlider-controls .carousel-control-next{
    right: -20%;
}

.pumpSlider-controls .carousel-control-prev {
    left: -20%;
}

/* main button configurations */
.pumpSlider-controls .carousel-control-next,
.pumpSlider-controls .carousel-control-prev {
    border-radius: 50%;
    width:80px;
	height:80px;
    padding: 15px;
    box-sizing: border-box;
    opacity: 1;
    font-size: 30px;
    color: #171616;
    box-shadow: 2px 2px 12px 4px rgba(0, 0, 0, 0.45),
                0px 3px 4px 0px rgba(133, 255, 0, 1), 
                0px 2px 2px 1px rgba(0, 0, 0, 1), 
                0px 15px 18px 6px rgba(41, 40, 40, 0.309); 
             
    background-image: radial-gradient(circle at 51% 50%, rgba(255, 251, 251, 1) 27%, rgba(255, 252, 252, 1) 59%, rgba(154, 147, 147, 1) 60%, rgba(255, 255, 255, 1) 62%, rgba(0, 0, 0, 1) 83%);
    transition: .9s;
}

/* icon styling*/
.pumpSlider-controls .my-custom-buttons .bi-icon {
    
    width: 100%;
    height:100%;
    display:block;
    background: transparent;
    border-radius: 50%;
    font-size:40px;
    color: #070707;
    transition: .5s;
}

/* hover and focus configurations !anchor tag! */
.pumpSlider-controls a.carousel-control-next:focus,
.pumpSlider-controls a.carousel-control-next:hover,
.pumpSlider-controls a.carousel-control-prev:focus,
.pumpSlider-controls a.carousel-control-prev:hover {
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	text-decoration:none;
	transform: scale(0.9);
}

/* hover and focus configurations */
.pumpSlider-controls .bi-icon:focus,
.pumpSlider-controls .bi-icon:hover {
	color: rgb(68, 162, 0);
    
}


/*--------------------------------------------------------------
          ***    PUMP BUTTONS - SMALL SIZE ***
--------------------------------------------------------------*/
        @media (max-width: 416px) {
            /* main button configurations */
            .pumpSlider-controls .carousel-control-next,
            .pumpSlider-controls .carousel-control-prev {
                border-radius: 50%;
                width:42px;
                height:42px;
                padding: 6px;
                box-sizing: border-box;
                opacity: 1;
                font-size: 15px;
                color: #171616;
                box-shadow: 2px 2px 12px 4px rgba(0, 0, 0, 0.45),
                            0px 3px 4px 0px rgba(133, 255, 0, 1), 
                            0px 2px 2px 1px rgba(0, 0, 0, 1), 
                            0px 15px 18px 6px rgba(41, 40, 40, 0.309); 
                        
                background-image: radial-gradient(circle at 51% 50%, rgba(255, 251, 251, 1) 27%, rgba(255, 252, 252, 1) 59%, rgba(154, 147, 147, 1) 60%, rgba(255, 255, 255, 1) 62%, rgba(0, 0, 0, 1) 83%);
                transition: .9s;
            }

            /* icon styling*/
            .pumpSlider-controls .my-custom-buttons .bi-icon {
                
                width: 100%;
                height:100%;
                display:block;
                background: transparent;
                border-radius: 50%;
                font-size:20px;
                color: #070707;
                transition: .5s;
            }
        }





/*--------------------------------------------------------------------------------------------------------
                 
                                ***  =======  PUFFER =======  ***

--------------------------------------------------------------------------------------------------------*/



/*--------------------------------------------------------------
                  ***    PUFFER CONTAINER  ***
--------------------------------------------------------------*/
/* carousel puffer container */
.carousel-container-puffer {
    width: 100%;
    flex-grow: 1;
    }


/*--------------------------------------------------------------
          ***    PUFFER BUTTONS - NORMAL SIZE ***
--------------------------------------------------------------*/
 .pufferSlider-controls {
    position: relative;
    margin-bottom: 120px;
    top: -120px;
}

.pufferSlider-controls .carousel-control-next{
    right: -20%;
}

.pufferSlider-controls .carousel-control-prev {
    left: -20%;
}
/* main button configurations */
.pufferSlider-controls .carousel-control-next,
.pufferSlider-controls .carousel-control-prev {
    border-radius: 50%;
    width:80px;
	height:80px;
    padding: 15px;
    box-sizing: border-box;
    opacity: 1;
    font-size: 30px;
    color: #171616;
    box-shadow: 2px 2px 12px 4px rgba(0, 0, 0, 0.45),
                0px 3px 4px 0px rgba(133, 255, 0, 1), 
                0px 2px 2px 1px rgba(0, 0, 0, 1), 
                0px 15px 18px 6px rgba(41, 40, 40, 0.309); 
             
    background-image: radial-gradient(circle at 51% 50%, rgba(255, 251, 251, 1) 27%, rgba(255, 252, 252, 1) 59%, rgba(154, 147, 147, 1) 60%, rgba(255, 255, 255, 1) 62%, rgba(0, 0, 0, 1) 83%);
    transition: .9s;
}

/* icon styling*/
.pufferSlider-controls .my-custom-buttons .bi-icon {
    
    width: 100%;
    height:100%;
    display:block;
    background: transparent;
    border-radius: 50%;
    font-size:40px;
    color: #070707;
    transition: .5s;
}

/* hover and focus configurations !anchor tag! */
.pufferSlider-controls a.carousel-control-next:focus,
.pufferSlider-controls a.carousel-control-next:hover,
.pufferSlider-controls a.carousel-control-prev:focus,
.pufferSlider-controls a.carousel-control-prev:hover {
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	text-decoration:none;
	transform: scale(0.9);
}

/* hover and focus configurations */
.pufferSlider-controls .bi-icon:focus,
.pufferSlider-controls .bi-icon:hover {
	color: rgb(68, 162, 0);
    
}




/*--------------------------------------------------------------
          ***    PUFFER BUTTONS - SMALL SIZE ***
--------------------------------------------------------------*/
 @media (max-width: 416px) {
    /* main button configurations */
    .pufferSlider-controls .carousel-control-next,
    .pufferSlider-controls .carousel-control-prev {
        border-radius: 50%;
        width:42px;
        height:42px;
        padding: 6px;
        box-sizing: border-box;
        opacity: 1;
        font-size: 15px;
        color: #171616;
        box-shadow: 2px 2px 12px 4px rgba(0, 0, 0, 0.45),
                    0px 3px 4px 0px rgba(133, 255, 0, 1), 
                    0px 2px 2px 1px rgba(0, 0, 0, 1), 
                    0px 15px 18px 6px rgba(41, 40, 40, 0.309); 
                
        background-image: radial-gradient(circle at 51% 50%, rgba(255, 251, 251, 1) 27%, rgba(255, 252, 252, 1) 59%, rgba(154, 147, 147, 1) 60%, rgba(255, 255, 255, 1) 62%, rgba(0, 0, 0, 1) 83%);
        transition: .9s;
    }

    /* icon styling*/
    .pufferSlider-controls .my-custom-buttons .bi-icon {
        
        width: 100%;
        height:100%;
        display:block;
        background: transparent;
        border-radius: 50%;
        font-size:20px;
        color: #070707;
        transition: .5s;
    }
}

