





/* heat-pump section start */
/* heat-pump section start */
.fashion_section {
    width: 100%;
    padding-bottom: 150px;
}

.fashion_taital {
    padding: 1rem;
    width: 100%;
    font-size: 50px;
    color: #30302e;
    text-align: center;
    font-weight: bolder;
}

.fashion_section_2 {
    width: 100%;
    margin-top: 30px;
    padding-bottom: 30px;
}



#main_slider a.carousel-control-next {
    right: 615px;
    top: 105%;
}

#main_slider a.carousel-control-prev {
    left: 615px;
    top: 105%;
}

#main_slider .carousel-control-next,
#main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    background-color: #30302e;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
}

#main_slider .carousel-control-next:focus,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-prev:hover {
    color: #fff;
    background-color: #f26522;
}
/* heat-pump section end */
/* heat-pump section end */

 

/* puffer section start */
/* puffer section start */
.electronic_img {
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    min-height: 295px;
}

.electronic_img img{
    max-height: 300px;
}

#electronic_main_slider a.carousel-control-next {
    right: 615px;
    top: 105%;
}

#electronic_main_slider a.carousel-control-prev {
    left: 615px;
    top: 105%;
}

#electronic_main_slider .carousel-control-next,
#electronic_main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    background-color: #30302e;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
}

#electronic_main_slider .carousel-control-next:focus,
#electronic_main_slider .carousel-control-next:hover,
#electronic_main_slider .carousel-control-prev:focus,
#electronic_main_slider .carousel-control-prev:hover {
    color: #fff;
    background-color: #f26522;
}
/* electronic section end */




