/* ----------------
BANNER MAIN SECTION 
------------------*/

.banner_bg_main {
  width: 100%;
  height: 100%;
  float: left;
  background-image: url('/static/shop/images/background_house.png');
  background-size: 100%;
  background-repeat: no-repeat;
}


/* ------------------------
FORM CONTROLS FOR SEARCHBAR 
--------------------------*/

.form-control:focus {
  border-color: #ffffff !important;
  border: 3px solid white;
  box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
} 
.main .form-control::placeholder {
  color: #ffffffe5 ;
} 

.form-control input font{
  font-size: xx-large;
  
}



/* ------------------------
TYPED JS TEXT ANIMATION  
--------------------------*/

/* animated text */
.typed-js-text-first,
.text-light {
  align-items: center;
  color: #ffffff;
  font-size: bigger;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.4), 4px 3px 6px rgba(0, 0, 0, 0.4), -6px 4px 22px rgba(0, 0, 0, 0.69);
  font-weight: 1000;
  letter-spacing: 1.5px;
  word-spacing: 6.5px;
}

/* container for animated text -> don't push arround other stuff */
.typed-container {
  height: 140px;
  width: 100%;
}

/* static text before "SWISS" */
.typed-js-text-second {
  align-items: center;
  color: #ff0000;
  font-size: 35px;
  text-shadow: 5px 2px 4px rgba(0, 0, 0, 1), 4px 3px 4px rgba(255, 255, 255, 1), -6px 4px 8px rgba(144, 45, 45, 0.58), 1px 1.7px 8px rgba(255, 179, 179, 0.6), 1px 1.7px 8px rgba(255, 255, 255, 1);
  font-weight: xxx-large;

}


@media  (min-width: 900px) {
  .typed-js-text-first,
  .text-light {
    font-size: 50px;
  }

  .typed-js-text-second {
    font-size: 60px;
  }
}






/* header top section start */
.header_section_top {
  width: 100%;
  float: left;
  background-color: #1c1c1b;
  clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%);
  height: auto;
  padding: 10px 0px;
}

.custom_menu {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.custom_menu ul {
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

.custom_menu li {
  float: left;
  font-size: 16px;
  color: #f1f1f1;
  padding: 6px 10px 0px 10px;
}

.custom_menu li a {
  color: #f1f1f1;
}

.custom_menu li a:hover {
  color: #f26522;
}

/* header top section end */
/* header top section end */


/* ------------------------
LOGO 
--------------------------*/
.logo_section {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo {
  width: 100%;
  text-align: center;
}




/* ------------------------
HEADER SECTION 
--------------------------*/

.header_section {
  width: 100%;
  display: flex;
  
}

.containt_main {
  display: flex;
}


/* ------------------------
SIDE NAVIGATION 
--------------------------*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f26522;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
      padding-top: 15px;
  }
  .sidenav a {
      font-size: 18px;
  }
}

.toggle_icon {
  cursor: pointer;
  color: #ffffff;
  order: 2;
}

.toggle_icon:hover {
transform: scale(1.1);
transform: rotateY(20deg);
}





.header_box {
  order: 2;
  display: flex;
}

.dropdown,
.dropleft,
.dropright,
.dropup {
  position: relative;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  margin-left: 30px;
  order: 2;
}

.btn-secondary {
  color: #fff;
  background-color: #30302e;
  border-color: #30302e;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #30302e;
  border-color: #30302e;
}

.show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}



/* ------------------------
SEARCH BOX 
--------------------------*/

/* Styles for wrapping the search box start */
.main {
  flex: 1;
  margin: 0px 30px;
  display: inline-block;
  order: 2;
}



/* Bootstrap 4 text input with search icon */
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
/* Styles for wrapping the search box end */





/*----------------------------
 LOGIN MENU
-----------------------------*/

.login_menu {
  display: flex;
  text-align: right;
  float: right;
}

.login_menu ul {
  margin: 0px;
  padding: 0px;
}

.login_menu li {
  float: left;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 10px;
  padding-top: 4px;
}

.login_menu li a {
  color: #ffffff;
}

.login_menu li a:hover {
  color: #f26522;
}

.padding_10 {
  padding-left: 10px;
}

.dropdown-menu {
  z-index: 2;
}

.dropdown-menu ul {
  display:flex;
  flex-direction: column;
  
}

@media (max-width: 321px) {
  .login_menu li a{
     color:black;
      background-color:white;
      border-radius: 4px;
      padding: 5px 2px;
  }
}

/*----------------------------
 LANGUAGE BOX
-----------------------------*/
.lang_box {
  display: flex;
  float: right;
  background: transparent;
  border-radius: 5px;
  margin-right: 20px;
}

.nav-link {
  display: block;
  padding: .4rem 10px;
}

a:hover {
  color: #f26522;
  text-decoration: underline;
}

.nav-link {
  font-weight: bolder;
  color: white;
}


@media (max-width: 321px) {
  .nav-link{
    color:black;
    background-color:white;
    border-radius: 4px;
    padding: 5px 2px;
  }
}









/*----------------------------
??????
-----------------------------*/

/* 
#my_slider a.carousel-control-next {
  right: 0px;
  top: 40px;
}

#my_slider a.carousel-control-prev {
  left: 0px;
  top: 40px;
}

#my_slider .carousel-control-next,
#my_slider .carousel-control-prev {
  width: 45px;
  height: 45px;
  background: rgba(246, 2, 2, 0.8);
  opacity: 1;ß
  font-size: 20px;
  color: #fdfbfb;
  border-radius: 100px;
}

#my_slider .carousel-control-next:focus,
#my_slider .carousel-control-next:hover,
#my_slider .carousel-control-prev:focus,
#my_slider .carousel-control-prev:hover {
  color: #060606;
} */






