
/*---------------------------------------------
			CARD ITEM
---------------------------------------------*/
.pump_main {
	height: auto; /* is making problem, 400px is ok.. */
	display: flex;
	flex-direction: column;
	columns: 1;
	width: 100%;
    padding: 20px;
    margin-bottom: 30px;
	margin-top: 30px;
/*  border-radius: 5px; */
/*  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;*/
}

.product_text {
	flex-grow: 1;
    width: 100%;
    font-size: auto;
    color: #30302e;
    text-align: center;
    font-weight: bold;
}

/*---------------------------------------------
			IMAGE
---------------------------------------------*/
.pump_img_container {
	position: relative;
	justify-content: center;
	display: flex;
	height: 100%;
	width: 100%;
	padding: 6%;
	/* shadow stays when hover */
	background: url(https://4.bp.blogspot.com/-SwBb_-GhxI4/W1NPTzc7coI/AAAAAAAABBw/Dri7V0algrEMayM55WDNSAWUAF9fFh9xwCLcBGAs/s320/alexa_pro_shadow.png);
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: 50% 122%;
}

.pump_img_container img {
	justify-content: center;
	margin: 0 auto;
	height: auto;
    width: 100%;
}




.pump_img_container img:hover {
	transform: translate(0px, -50px);
	cursor: pointer;
	filter: contrast(80%);
}


/*---------------------------------------------
	PRICE TEXT
---------------------------------------------*/

.price_text {
    width: 100%;
    font-size: 16px;
    color: #f26522;
    text-align: center;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
	border-radius: 5px;
}



/*---------------------------------------------
	CARD BUTTONS - NORMAL SIZE
---------------------------------------------*/
.grid-container {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto auto;
  }

  .grid-container > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
  }

/* Cart button */
  .card_cart_btn {
	place-items: start;
	list-style: none;
	height: 60px;
	position: relative;
	width:60px;
	height:60px;
	padding: 6px;
	text-align:center;
	border-radius: 50%;
	box-sizing: border-box;
	text-decoration:none;
	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
	background: linear-gradient(0deg, #ddd, #fff);
	transition: .5s;
  }
  
  .card_cart_btn:hover {
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	text-decoration:none;
	transform: scale(0.9);
  }
  
  .bi {
	width: 100%;
	height:100%;
	display:block;
	background: linear-gradient(0deg, #fff, #ddd);
	border-radius: 50%;
	line-height: calc(60px - 12px);
	font-size:24px;
	color: #030303;
	transition: .5s;
  }
  
   li:nth-child(1) a:hover .bi {
	color: #f30808;
  }



/* Detail button */
  .detail_btn {
	grid-column-end: end;
	justify-self: right;
	align-items: center;
	list-style: none;
	position: relative;
	width:60px;
	height:60px;
	padding: 6px;
	text-align:center;
	border-radius: 50%;
	box-sizing: border-box;
	text-decoration:none;
	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
	background: linear-gradient(0deg, #ddd, #fff);
	transition: .5s;
  }
  
  .detail_btn:hover {
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	text-decoration:none;
	transform: scale(0.9);
  }
  
  .detail_btn .bi{
	width: 100%;
	height:100%;
	display:block;
	background: linear-gradient(0deg, #fff, #ddd);
	background-color: rgb(0, 0, 0);
	border-radius: 50%;
	line-height: calc(60px - 12px);
	font-size:24px;
	color: #262626;
	transition: .5s;
  }
  
	a:hover .bi {
		color: #f30808;
  }


/*---------------------------------------------
	CARD BUTTONS - UNDER 416px SIZE!
---------------------------------------------*/

	@media (max-width: 600px) {

		/* Cart button */
		.card_cart_btn {
			place-items: start;
			list-style: none;
			height: 33px;
			position: relative;
			width: 33px;
			height: 33px;
			padding: 3px;
			text-align: center;
			border-radius: 50%;
			box-sizing: border-box;
			text-decoration: none;
			box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
			background: linear-gradient(0deg, #ddd, #fff);
			transition: .5s;
		}

		.card_cart_btn:hover {
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
			text-decoration: none;
			transform: scale(0.9);
		}

		.bi {
			width: 100%;
			height: 100%;
			display: block;
			background: linear-gradient(0deg, #fff, #ddd);
			border-radius: 50%;
			line-height: calc(35px - 6px);
			font-size: 12px;
			color: #030303;
			transition: .5s;
		}

		li:nth-child(1) a:hover .bi {
			color: #f30808;
		}
		/* Detail button */
		.detail_btn {
			grid-column-end: end;
			justify-self: right;
			height: 33px;
			align-items: center;
			list-style: none;
			position: relative;
			width: 33px;
			height: 33px;
			padding: 3px;
			text-align: center;
			border-radius: 50%;
			box-sizing: border-box;
			text-decoration: none;
			box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
			background: linear-gradient(0deg, #ddd, #fff);
			transition: .5s;
		}

		.detail_btn:hover {
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
			text-decoration: none;
			transform: scale(0.9);
		}

		.detail_btn .bi {
			width: 100%;
			height: 100%;
			display: block;
			background: linear-gradient(0deg, #fff, #ddd);
			background-color: rgb(0, 0, 0);
			border-radius: 50%;
			line-height: calc(35px - 6px);
			font-size: 12px;
			color: #262626;
			transition: .5s;
		}

		a:hover .bi {
			color: #f30808;
		}
	}
