



.carousel-container {
  overflow-x: hidden;
  border-radius: 20px;
	background-color: rgb(233, 231, 231);
  position: relative;
  display: flex;
  width: 90%;
	height: 110%;
	margin-top: 50px;
	margin-bottom: 80px;
	
	
}

.shopSlider-controls {
	position: relative;
}

.shopSlider-arrow {
	width: 40px;
	height: 48px;
	padding: 15px;
	bottom: 120px;
	background-color: red;
	position: absolute;
	
	bottom: 230px;
	z-index: 9;
	cursor: pointer;

	@media (min-width: 650px) { 
		 
		bottom: calc(120px + 80px); 
  
	}

	img {
		vertical-align: top;
	}

}

.shopSlider-arrow--left {
	left: -15px; 


	@media (min-width: 650px) {  
		transform: translate(100%, 0);
		left: 0px;
  
	}

	@media (min-width: 1334px) {   
		right: 0px;
		transform: translate(-100%, 0%);
  
	}
	
}


.shopSlider-arrow--right {
	right: -15px;


	@media (min-width: 650px) {  
		transform: translate(-100%, 0);
		right: px;
  
	}

	@media (min-width: 1334px) {   
		right: 0px;
		transform: translate(100%, 0%);
  
	}
	
}
