
.results {
    width: 100%;
  }
  
  .results a {
    text-decoration: none;
  }
  
    .no_result_img{
      margin: 1rem;
      display: grid;
      place-items: center;
    }
  
    .no_result_img img {
      max-height: 180px;
      width: auto;
      
    }