@media (min-width: 0px) and (max-width: 560px) {

    .banner_bg_main {
        
        padding-right: 5%;
    }
    .login_menu {
    
        filter: invert(0);
    }

    .lang_box {
        color: #fff;
    }

    /* inverts only the dropdown again back */
    .login_menu .dropdown-menu{
        filter: invert(1);
    }


    .toggle_icon img {
        filter: invert(1);
    }
}




@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-search {
        padding: 15px 0px;
    }
}





/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/


/*  IPAD MINI CUT DISPLAY */
@media only screen and (min-width: 280px) and (max-width: 599px) {
    
    .banner_bg_main {
        background-size: 100%;
    }

    .pump_img img,
    .puffer_img img {
        max-width: 220px;
        max-height: 220px;
        
           
    }


    .header_section_top {
        display: none;
    }
    .containt_main {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .toggle_icon {
        cursor: pointer;
        order: 2;
    }
    .main {
        margin: 0px 0px 0px 0px;
    }
    .input-group {
        width: auto;
        margin-right: 0px;
        margin-left: 10px;
    }
    .header_box {
        order: 1;
        display: flex;
        width: 100%;
        margin-bottom: 20px;
        justify-content: space-between;
    }
    .dropdown {
        display: none;
    }
    .login_menu li {
        float: left;
        font-size: 14px;
    }
    .nav-link {
        padding: .4rem 0px;
        color: #070707;
    }
    .lang_box {
        background-color: transparent;
        margin-top: 0rem;
        
    }


    .pump_title {
        font-size: 24px;
    }
    .pump_section {
        padding-bottom: 100px;
    }

    .tshirt_img {
        margin: 20px 0px;
        min-height: 0;
    }

    #main_slider a.carousel-control-prev {
        left: 15px;
        top: 101%;
    }
    #main_slider a.carousel-control-next {
        right: 15px;
        top: 101%;
    }
    #pump_main_slider a.carousel-control-prev {
        left: 15px;
        top: 101%;
    }
    #pump_main_slider a.carousel-control-next {
        right: 15px;
        top: 101%;
    }
    .input_bt {
        width: 100%;
    }
    .mail_bt {
        width: 70%;
    }
    .footer_menu li {
        float: none;
        padding: 10px 10px 0px 10px;
    }

    .social {
        transform: scale(0.5);
        padding-bottom: 1rem;
    }

    .location_main {
        padding: 30px 0px 30px 0px;
    }

}


/*    ipad 9,7"    */
@media (min-width: 992px) and (max-width: 1400px) {
    .banner_bg_main {
        background-size: 100%;
    }


    .tshirt_img {
        margin: 20px 0px;
        min-height: 360px;
    }
    #main_slider a.carousel-control-next {
        right: 40px;
        top: 100%;
    }
    #main_slider a.carousel-control-prev {
        left: 40px;
        top: 100%;
    }

    #pump_main_slider a.carousel-control-next {
        right: 40px;
        top: 100%;
    }
    #pump_main_slider a.carousel-control-prev {
        left: 40px;
        top: 100%;
    }

    .input_bt {
        width: 80%;
    }
}

@media (min-width: 760px) and (max-width: 991px) {
    .banner_bg_main {
        background-size: 100%;
    }


    .dropdown {
        display: none;
    }

    #pump_main_slider a.carousel-control-next {
        right: 40px;
        top: 110%;
    }
    #pump_main_slider a.carousel-control-prev {
        left: 40px;
        top: 110%;
    }

    .input_bt {
        width: 100%;
    }
}



        /* HEEEEERRRRRRRREEEEEEEEEEE */

        /* IPAD mini 7.9" and IPHONE 8 HORIZONTAL */
@media (min-width: 560px) and (max-width: 770px) {
    .banner_bg_main {
        background-size: 140%;  
        left: -10rem;
    }

    .header_section_top {
        display: none;
    }
    .containt_main {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .toggle_icon {
        cursor: pointer;
        order: 2;
    }
    .main {
        margin: 0px 0px 0px 0px;
    }

    .input-group {
        width: auto;
        margin-right: 0px;
        margin-left: 10px;
    }
    .header_box {
        order: 1;
        display: flex;
        width: 100%;
        margin-bottom: 20px;
        justify-content: space-between;
    }
    .dropdown {
        display: none;
    }

    .nav-link {
        padding: .4rem 0px;
        color: #fff;
    }
    .lang_box {
        background-color: transparent;
    }
 

    .pump_title {
        font-size: 24px;
    }
    .pump_section {
        padding-bottom: 100px;
    }
    
    .pump_img img,
    .puffer_img img {
        height: 150px;
        width: 150px;
       
    }
    
    

    .product_text {
        font-size: 14px;
    }
    .price_text {
        font-size: 14px
    }

    .box_main {
        padding: 20px 10px;
    }

    #main_slider a.carousel-control-prev {
        left: 33px;
        top: 101%;
    }
    #main_slider a.carousel-control-next {
        right: 33px;
        top: 101%;
    }
    #pump_main_slider a.carousel-control-prev {
        left: 33px;
        top: 101%;
    }
    #pump_main_slider a.carousel-control-next {
        right: 33px;
        top: 101%;
    }
    .input_bt {
        width: 100%;
    }
    .mail_bt {
        width: 70%;
    }
    .footer_menu li {
        float: none;
        padding: 10px 10px 0px 10px;
    }
    .location_main {
        padding: 30px 0px 30px 0px;
    }
}





/* IPHONE SE HORIZONTAL ONLY */
@media (min-width: 560px) and (max-width: 570px) {
    .header_box {
        margin-top: -3rem;
    }
}

/* IPHONE SE ONLY */
@media (max-width: 390px) {
    .logo img {
        height: auto;
        width: 90%;
        padding: 1rem;
      }
}

/* IPHONE 8 PLUS HORIZONTAL ONLY*/
@media (min-width: 720px) and (max-width: 750px) {

}


/* IPHONE SE   and IPHONE 8 */
@media (max-width: 415px) {
    .banner_bg_main {
        background-size: 100%;
    }

    .logo img {
        height: 95%;
        width: 95%;
        padding: 1rem;
      }

    .header_section_top {
        display: none;
    }
    .containt_main {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .toggle_icon {
        cursor: pointer;
        order: 2;
    }
    .main {
        margin: 0px 0px 0px 0px;
    }

    .input-group {
        width: auto;
        margin-right: 0px;
        margin-left: 10px;
    }
    .header_box {
        order: 1;
        display: flex;
        width: 100%;
        margin-bottom: 20px;
        justify-content: space-between;
    }
    .dropdown {
        display: none;
    }
    .login_menu li {
        float: left;
        font-size: 14px;
    }

    .lang_box {
        background-color: transparent;
        
        
    }

    .pump_title {
        font-size: 24px;
    }
    .pump_section {
        padding-bottom: 100px;
    }
    
    .puffer_img {
        margin: 20px 0px;
        min-height: 0;
    }
 
    #main_slider a.carousel-control-prev {
        left: 15px;
        top: 101%;
    }
    #main_slider a.carousel-control-next {
        right: 15px;
        top: 101%;
    }
    #pump_main_slider a.carousel-control-prev {
        left: 15px;
        top: 101%;
    }
    #pump_main_slider a.carousel-control-next {
        right: 15px;
        top: 101%;
    }
    .input_bt {
        width: 100%;
    }
    .mail_bt {
        width: 70%;
    }
    .footer_menu li {
        float: none;
        padding: 10px 10px 0px 10px;
    }

    .social {
        transform: scale(0.5);
        padding-bottom: 1rem;
    }

    .location_main {
        padding: 30px 0px 30px 0px;
    }

}


@media (min-width: 989px) and (max-width: 1226px) {

}
