@media (min-width: 0px) and (max-width: 560px) {

    .banner_bg_main {
        padding-right: 2%;
    }
    .login_menu {
        filter: invert(0);
    }

    /* inverts only the dropdown again back */
    .login_menu .dropdown-menu{
        filter: invert(1);
    }

    .toggle_icon img {
        filter: invert(1);
    }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-search {
        padding: 15px 0px;
    }
}





/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/


/*  IPAD MINI CUT DISPLAY */
@media only screen and (min-width: 280px) and (max-width: 599px) {

    .header_section_top {
        display: none;
    }
    .containt_main {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .toggle_icon {
        cursor: pointer;
        order: 2;
    }
    .main {
        margin: 0px 0px 0px 0px;
    }
    .input-group {
        width: auto;
        margin-right: 0px;
        margin-left: 10px;
    }
    .header_box {
        order: 1;
        display: flex;
        width: 100%;
        margin-bottom: 20px;
        justify-content: space-between;
    }
    .dropdown {
        display: none;
    }
    .login_menu li {
        float: left;
        font-size: 14px;
    }

    .pump_title {
        font-size: 24px;
    }

    #main_slider a.carousel-control-prev {
        left: 15px;
        top: 101%;
    }
    #main_slider a.carousel-control-next {
        right: 15px;
        top: 101%;
    }
    #puffer_main_slider a.carousel-control-prev {
        left: 15px;
        top: 101%;
    }
    #puffer_main_slider a.carousel-control-next {
        right: 15px;
        top: 101%;
    }
    .input_bt {
        width: 100%;
    }
    .mail_bt {
        width: 70%;
    }
    .footer_menu li {
        float: none;
        padding: 10px 10px 0px 10px;
    }

    .location_main {
        padding: 30px 0px 30px 0px;
    }

}


/*    ipad 9,7"    */
@media (min-width: 992px) and (max-width: 1400px) {
    .banner_bg_main {
        background-size: 100%;
    }
    #main_slider a.carousel-control-next {
        right: 40px;
        top: 100%;
    }
    #main_slider a.carousel-control-prev {
        left: 40px;
        top: 100%;
    }

    #puffer_main_slider a.carousel-control-next {
        right: 40px;
        top: 100%;
    }
    #puffer_main_slider a.carousel-control-prev {
        left: 40px;
        top: 100%;
    }

    .input_bt {
        width: 80%;
    }
}

@media (min-width: 760px) and (max-width: 991px) {
    .banner_bg_main {
        background-size: 100%;
    }


    .dropdown {
        display: none;
    }

    #puffer_main_slider a.carousel-control-next {
        right: 40px;
        top: 110%;
    }
    #puffer_main_slider a.carousel-control-prev {
        left: 40px;
        top: 110%;
    }

    .input_bt {
        width: 100%;
    }
}



        /* HEEEEERRRRRRRREEEEEEEEEEE */

        /* IPAD mini 7.9" and IPHONE 8 HORIZONTAL */
@media (min-width: 560px) and (max-width: 770px) {
    .banner_bg_main {
        background-size: 100%;  
        left: -0rem;
    }

    .header_section_top {
        display: none;
    }
    .containt_main {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .toggle_icon {
        cursor: pointer;
        order: 2;
    }
    .main {
        margin: 0px 0px 0px 0px;
    }

    .input-group {
        width: auto;
        margin-right: 0px;
        margin-left: 10px;
    }
    .header_box {
        order: 1;
        display: flex;
        width: 100%;
        margin-bottom: 20px;
        justify-content: space-between;
    }
    .dropdown {
        display: none;
    }

    .pump_title {
        font-size: 24px;
    }
    .product_text {
        font-size: 14px;
    }
    .price_text {
        font-size: 14px
    }

    #main_slider a.carousel-control-prev {
        left: 33px;
        top: 101%;
    }
    #main_slider a.carousel-control-next {
        right: 33px;
        top: 101%;
    }
    #puffer_main_slider a.carousel-control-prev {
        left: 33px;
        top: 101%;
    }
    #puffer_main_slider a.carousel-control-next {
        right: 33px;
        top: 101%;
    }
    .input_bt {
        width: 100%;
    }
    .mail_bt {
        width: 70%;
    }
    .footer_menu li {
        float: none;
        padding: 10px 10px 0px 10px;
    }
    .location_main {
        padding: 30px 0px 30px 0px;
    }
}



/* IPHONE SE   and IPHONE 8 */
@media (max-width: 415px) {
    .banner_bg_main {
        background-size: 100%;
    }

    .header_section_top {
        display: none;
    }
    .containt_main {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .toggle_icon {
        cursor: pointer;
        order: 2;
    }
    .main {
        margin: 0px 0px 0px 0px;
    }

    .input-group {
        width: auto;
        margin-right: 0px;
        margin-left: 10px;
    }
    .header_box {
        order: 1;
        display: flex;
        width: 100%;
        margin-bottom: 20px;
        justify-content: space-between;
    }
    .dropdown {
        display: none;
    }
    .login_menu li {
        float: left;
        font-size: 14px;
    }

    .pump_title {
        font-size: 24px;
    }

    #main_slider a.carousel-control-prev {
        left: 15px;
        top: 101%;
    }
    #main_slider a.carousel-control-next {
        right: 15px;
        top: 101%;
    }
    #puffer_main_slider a.carousel-control-prev {
        left: 15px;
        top: 101%;
    }
    #puffer_main_slider a.carousel-control-next {
        right: 15px;
        top: 101%;
    }
    .input_bt {
        width: 100%;
    }
    .mail_bt {
        width: 70%;
    }
    .footer_menu li {
        float: none;
        padding: 10px 10px 0px 10px;
    }


    .location_main {
        padding: 30px 0px 30px 0px;
    }

}

