
/*---------------------------------------------------------------------------------------------------------------
| FOOTER SECTION 
---------------------------------------------------------------------------------------------------------------*/

/*  Footer main container */
.footer_section {
  margin-top: 4rem;
  padding: 2rem;
  width: 100%;
  float: left;
  background-image: linear-gradient(119deg, rgba(0, 0, 0, 0.8) 41%, rgba(255, 255, 255, 0) 70%), linear-gradient(157deg, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0)), linear-gradient(340deg, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
  height: 100%;
}


/*------------------------------------
| SOCIAL BUTTONS 
------------------------------------*/
/* Social buttons */
.social-footer {
  width: 100%;
  height: 80px;
  padding: 2rem;
  position: relative;
  background-color: rgba(255, 0, 0, 0);
} 

@media (max-width: 599px){
  .social {
    transform: scale(0.7);
    padding-bottom: 1rem;
  }
}

@media (max-width: 322px){
  .social {
    transform: scale(0.6);
    padding-bottom: 1rem;
  }
}

/*------------------------------------
|  BIG LOGO IMAGE LINK
------------------------------------*/

.footer_logo {
  margin-top: 5rem;
  width: 100%;
  text-align: center;
  border: 6px solid #383d42;
  border-radius: 5px;
  box-shadow: inset 5px 5px 8px 1px rgba(0, 0, 0, 0.2),
  inset -5px -5px 8px 0px rgba(77, 71, 100, 0.3),
  inset -1px -2px 2px 0px rgba(77, 71, 100, 0.4);
  transition: all 0.3s ease-in-out;
  padding: 2rem;
}

.footer_logo img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.footer_logo button {
  border: 1px solid rgb(252, 247, 247)
}

.footer_logo:hover{
  transform: scale(0.97);
  background-color:#23a206a8;
  box-shadow: inset 5px 5px 8px 1px rgba(0, 0, 0, 0.2),
			  inset -5px -5px 8px 0px rgba(77, 71, 100, 0.3),
			  inset -1px -2px 2px 0px rgba(77, 71, 100, 0.4),
			  5px 5px 10px 2.5px rgba(0, 0, 0, 0.2),
			  -5px -5px 10px 2.5px rgba(77, 71, 100, 0.4),
			  -1px -1px 4px 2px rgba(77, 71, 100, 0.4);
}

/* small button inside the big image */
.footer_logo button:hover {
  transform: scale(1.4);
  border: 2px solid rgb(252, 250, 250)
}



/*------------------------------------
|  EMAIL CONTACT INPUT
------------------------------------*/
.contact_email_container {
  margin-bottom: 2rem;
}


.contact_email_container .btn{
  background-color: red;
  color: white;
  position: relative; 
  border-top-left-radius: 0px; 
  border-bottom-left-radius: 0px; border: 1px solid white; 
  border-left: 2px solid white;
}

.contact_email_container .btn:hover{
  transform: scale(1.05);
  color: white;
}




/*------------------------------------
|  MENU LINKS AND BUTTONS
------------------------------------*/
.footer_menu {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.footer_menu ul {
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

.footer_menu li {
  float: left;
  font-size: 16px;
  color: #f1f1f1;
  padding: 20px 10px 0px 10px;
}

.footer_menu li a {
  color: #f1f1f1;
}

.footer_menu li a:hover {
  color: #f26522;
}

.location_main {
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
}

.location_main {
  float: left;
  font-size: 16px;
  color: #ffffff;
  padding: 30px 30px 30px 30px;
}

.location_main a {
  color: #ffffff;
}

.location_main a:hover {
  color: #f26522;
}



/*------------------------------------
| COPYRIGHT SECTION 
------------------------------------*/
.copyright_section {
  width: 100%;
  float: left;
  background-color: transparent;
  height: auto;
}

.copyright_text {
  width: 100%;
  float: left;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  margin: 20px 0px;
}

.copyright_text a {
  color: #ffffff;
}

.copyright_text a:hover {
  color: #f26522;
}

.margin_top90 {
  margin-top: 90px;
}
