
  
  .social ul {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	margin-top: 1rem;
	padding:0;
	display:flex;
	gap: 2rem;
  }

  @media (max-width: 416px) {
	.social ul {
		gap: 1rem;
	}
  }


 .social ul li {
	list-style: none;
	height: 60px;
  }
  
  .social ul li a {
	position: relative;
	width:60px;
	height:60px;
	display:block;
	text-align:center;
	margin:0 10px;
	border-radius: 50%;
	padding: 6px;
	color: rgba(255, 255, 255, 0.667);
	box-sizing: border-box;
	text-decoration:none;
	background: #383d42;
	box-shadow: inset 5px 5px 8px 1px rgba(0, 0, 0, 0.2),
			inset -5px -5px 8px 0px rgba(77, 71, 100, 0.3),
			inset -1px -2px 2px 0px rgba(77, 71, 100, 0.4);
	transition: all 0.3s ease-in-out;
  }
  
  .social ul li a:hover {
	text-decoration:none;
	transform: scale(0.9);
	
	outline: none;
	box-shadow: inset 5px 5px 8px 1px rgba(0, 0, 0, 0.2),
			  inset -5px -5px 8px 0px rgba(77, 71, 100, 0.3),
			  inset -1px -2px 2px 0px rgba(77, 71, 100, 0.4),
			  5px 5px 10px 2.5px rgba(0, 0, 0, 0.2),
			  -5px -5px 10px 2.5px rgba(77, 71, 100, 0.4),
			  -1px -1px 4px 2px rgba(77, 71, 100, 0.4);
	   
	}
  
  
  .social ul li a .bi {
	width: 100%;
	height:100%;
	display:block;
	background: linear-gradient(0deg, #2e2c2c, #2e1a1a);
	border-radius: 50%;
	line-height: calc(60px - 12px);
	font-size:24px;
	color: 	#01c4ff;
	transition: .5s;
  }
  
  ul li:nth-child(1) a:hover .bi {
	color: #e4405f;
  }
  
  ul li:nth-child(2) a:hover .bi {
	color: #e4405f;
  }
  
  ul li:nth-child(3) a:hover .bi {
	color: #e4405f;
  }
  
  ul li:nth-child(4) a:hover .bi {
	color: #e4405f;
  }
  
  ul li:nth-child(5) a:hover .bi {
	color: #e4405f;
  }