/*--------------------------------
|         IMPORTS                 |
--------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');



/*--------------------------------
|         BODY & HTML            |
--------------------------------*/

body,
html {
    height: 100%;
    /* font-family: "Archivo Black", sans-serif; 

    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;*/
    font-family: "Rowdies", cursive;
    line-height: 1.5;
    display: flex-box;
    flex-direction: column;
    justify-content: center;

}





/*--------------------------------------
|         BACKGROUND IMAGE             |
--------------------------------------*/
.bg-img {
    z-index: -99;
    position: absolute;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.8) blur(0px) grayscale(0) contrast(1);
    
}





/*--------------------------------
|         NAVBAR                  |
--------------------------------*/

.navbar {
    background-color: #040000;
    position: relative;
    
    width: 100%;
    top: 0;
}

/*--------------------------------
|         NAVBAR LOGO            |
--------------------------------*/
@media (max-width: 768px) {
    .navbar-brand {
        display: grid;
        place-items: center;
        height: auto;
    }
}   






/*--------------------------------------
|        SCROLL ANIMATIONS             |
--------------------------------------*/

.hidden {
    opacity: 0;
    transition: all 3s;
}

.show {
    opacity: 1;
    transition: all 2s ease-in-out;
}





/*------------------------------------------
    LANGUAGE BUTTONS                        |
-------------------------------------------*/

.language-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
   
}

@media screen and (max-width: 333px) {
    .language-buttons {
        flex-direction: column;
        align-items: center;
    }
}
    

.button-text {
    font-weight: bolder;
    font-size: large;
}
    
.french-button.box {
  width: 10vw;
  height: 5vw;
  max-width: 160px;
  max-height: 80px;
  min-width: 110px;
  min-height: 55px;
  margin: 45px 0;
  margin-left: 20%;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  background:
      -webkit-linear-gradient(
      0deg,
      #2e69f2c8 35%,
      #E8E8E8 35%,
      #FFFFFF 70%,
      rgb(247, 46, 46) 70%
  );
}

.french-button.box text, .german-button.box text {
    text-shadow: #fff 0.5px 0.5px 0.5px;
}

.german-button.box {
    width: 10vw;
    height: 5vw;
    max-width: 160px;
    max-height: 80px;
    min-width: 110px;
    min-height: 55px;
    margin: 45px 0;
    margin-right: 20%;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    background:
      -webkit-linear-gradient(
        90deg,
        #000000e9 35%,
        rgb(246, 199, 47) 35%,
        rgb(251, 200, 45) 70%,
        rgb(247, 46, 46) 70%
    );
  }







/*-------------------------------------------------
|        FIRST INFO TEXT                         |
-------------------------------------------------*/

.first-info {
    padding-left: 10%;
    padding-right: 10%;
    
    border-radius: 30px;
    margin-bottom: 2rem;
}
.first-info h1, .first-info h6 {
    font-size: 4vh; 
    font-weight: bolder;
    color: #fcf9f9;
    text-align: center;
}

.first-info h6 {
    font-size: 3vh;
    font-weight: bold;
    color: #fcf9f9;
    text-align: center;
}
.first-info span {
    color: rgb(247, 46, 46);
    text-shadow: #040000 0.5px 0.5px 0.5px;
}








/*-------------------------------------------------
|        SHOP OR OFFER BUTTONS                    |
-------------------------------------------------*/

.shop-or-offer-buttons {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;  
}
    
.offer-button.box,
.shop-button.box {
    color: white;
    font-size: x-large;
    text-shadow: #040000 0.5px 0.5px 0.5px;
    width: 50vw;
    height: 25vw;
    max-width: 450px;
    max-height: 80px;
    min-width: 60px;
    min-height: 60px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    background-color: rgb(247, 46, 46);
}

@media screen and (max-width: 755px) {
    .shop-or-offer-buttons {
        flex-direction: column;
        align-items: center;
    }
}






/*-------------------------------------------------
|        SCROLL DOWN ARROW                         |
-------------------------------------------------*/
  .scroll-down.container {
    margin-top: 5%;
    margin-bottom: 25%;
    position: relative;
    width: 24px;
    height: 24px;
    transform: scale(1.2);
    display: flex;
    justify-content: center;
  }
  
  .chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }
  
  .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }
  
  .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }
  
  .chevron:before,
  .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #ffffff;
  }
  
  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }
  
  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }
  
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  
  .text {
    display: block;
    margin-top: 75px;
    text-align: center;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
  }
  
  @keyframes pulse {
    to {
      opacity: 1;
    }
  }






/*--------------------------------------------  
|        Van Overlay                         |
--------------------------------------------*/

.van-container {
  display: flex;
  justify-content: center;
}

.overlay-van {
  height: auto;
  width: 60vw;
  background-repeat: no-repeat;
  left: 25%;
  top: 35vw; 
}

.van-container.move {
    /* animation */
    animation-name: moveit;
    animation-duration: 2000ms;
    animation-iteration-count: 1;
}

@keyframes moveit {
  from {
      translate: -600px;
  }
  to {
      justify-content: center;
  }
}









/*--------------------------------------------  
|        TEXT                                |
--------------------------------------------*/

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4% 5%;
    margin-top: -13%; /* tows the text up to the van */
    background-color: #040000;
}

.text-container h1 {
    color: #fcf9f9;
    font-size: 4vh;
    font-weight: normal;
    text-align: center;
}

