
  /*********************************************************************************/
  /********** Main Settings ********************************************************/
  /*********************************************************************************/
  

  @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  body,
  html {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
  } 

  * {
    transition: all 0.3s ease-in-out;
  }

  /********** End Settings  *********************************/
  /**********************************************************/ 




  /**********************************************************/
  /********** Animations ************************************/
  /**********************************************************/
    
  /* Scroll Animations */
  .hidden {
    opacity: 0;
    transition: all 3s;
  }
  .show {
    opacity: 1;
    transition: all 2s ease-in-out;
  }

  /* Navbar Size Animations */
  .display-flex {
    display: flex;
  }
  .display-none {
    display: none;
  }

  /********** End Animations  *******************************/
  /**********************************************************/ 








  
  /**********************************************************/
  /********** Start Header Section **************************/
  /**********************************************************/

  /* HEADER
  –––––––––––––––––––––––––– */
  

  /* NAVBAR CONTAINER
  –––––––––––––––––––– */
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }

  .navbar-container {
    position: relative;
    width: 100vw;
    padding: 1% 2%;
    background-color: rgba(255, 255, 255, 0.928);
    height: min-content;
    display: flex;
    align-items: center;
  }

  /* Navbar Links  */
  .navbar-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
  }

  /* Navbar Logo */
  .navbar-logo:hover {
    /* sizes in html */
    cursor: pointer;
    transform: scale(1.01);
  }
  .navbar-logo img {
    max-width: 20vw;
    min-width: 250px;
  }



  /* Navbar Links */
  a.nav-link {
    /* color: rgb(255, 255, 255); */
    /* font-weight: 900; */
    /* letter-spacing: 4px; */
    text-shadow:
    -1px 1px 2px rgb(0, 0, 0),
    1px 1px 2px rgb(0, 0, 0),
    1px -1px 0px rgb(0, 0, 0),
    -1px -1px 0px rgb(0, 0, 0);
  }
  
  a.nav-link:hover {
    color: #ffffff;
    border-bottom: 1px solid #020202;
    text-decoration: none;
  }




  /* Hamburger Button 
  –––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

  /* Hamburger-container for moving around with JS */
  .hamburger-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
  }
  /* Hamburger Button */
  .hamburger {
    height: 50px;
    width: 50px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Hamburger Hover */
  .hamburger:hover {
    transform: scale(1.1)
  }

  /* Hamburger Button Icon */
  .hamburger i {
    color:rgb(234, 0, 07);
    font-size: 2.2em;
  }





  /* Hamburger drop down menu  - Off-canvas
  –––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* Hamburger drop down menu container */
  .menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 65vw;
    height: 50vh;
    border-bottom-left-radius: 20px;
    background-color: rgba(255, 255, 255, 0.991);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    display: none;
    z-index: 100;
  }



  .menu-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 20px 20px;
  }

  .menu-list a{
    color: rgb(255, 255, 255);
    font-weight: 900;
    letter-spacing: 4px;
    text-shadow:
    -1px 1px 2px rgb(0, 0, 0),
    1px 1px 2px rgb(0, 0, 0),
    1px -1px 0px rgb(0, 0, 0),
    -1px -1px 0px rgb(0, 0, 0);
  }
  .menu-item-1:hover,
  .menu-item-2:hover,
  .menu-item-3:hover,
  .menu-item-4:hover {
    transform: scale(1.1);
    border-bottom: 2px solid #020202;
    padding-left: 3px;
  }

  .menu-item-1 .login-btn {
    padding-left: 0px;
  }

  /* Login Button */
  .login-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
    border: none;
    padding-right: 2%;
  }

  .login-btn span,
  .login-btn i {
    color: #ffffff;
    font-size: 1em;
    font-weight: 900;
    text-shadow:
    -1px 1px 2px rgb(0, 0, 0),
    1px 1px 2px rgb(0, 0, 0),
    1px -1px 0px rgb(0, 0, 0),
    -1px -1px 0px rgb(0, 0, 0);
  }

  .login-btn
  .login-btn:hover {
        cursor: pointer;
        transform: scale(1.15);
  }

  .off-canvas-background-logo {
    position: absolute;
    filter: invert(80%) opacity(0.3);
    z-index: -1;
    margin-top: 5rem;
  }
  .off-canvas-background-logo img {
    width: 60%;
    height: auto;
  }
  /********** End Header Section ****************************/
  /**********************************************************/




  /**********************************************************/
  /********** Start Hero Section ****************************/
  /**********************************************************/

  /* HERO MAIN OUTER CONTAINER
  –––––––––––––––––––––––––––––––––––––––– */
  .hero-outer-container {
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    background: conic-gradient(from 0deg at 55% 50%, white 40%, #96C2DB, #E5EDF1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* changing degress from conic-gradient background */
  @media screen and (max-width: 576px) {
    .hero-outer-container {
      background: conic-gradient(from 0deg at 80% 50%, white 40%, #96C2DB, #E5EDF1);
    }
  }

  /* HERO INNER DOUBLE CONTAINER
  –––––––––––––––––––––––––––––– */
  .hero-inner-double {
    height: 100%;
    max-height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 576px) {
    .hero-inner-double {
      flex-direction: column;
    }
  }
      
  /* HERO LEFT CONTAINER
  ––––––––––––––––––––––––––––– */
  .left-container {
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  @media screen and (max-width: 576px) {
    .left-container {
      width: 90vw;
    }
  }

  /* Hero text container */
  .hero-text {
    padding-left: 10%;
    width: 100%;
    max-width: 60vw;
  }

  /* Hero main Title text */
  .hero-text h1{
    margin-top: 2rem;
    padding-top: 1rem;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 4px;
    margin-bottom: -5px;
    color: rgb(255, 255, 255);
    text-shadow:
    -1px 1px 2px rgb(0, 0, 0),
    1px 1px 2px rgb(0, 0, 0),
    1px -1px 0px rgb(0, 0, 0),
    -1px -1px 0px rgb(0, 0, 0);
  }
  /* Middle-line */
  .middle-line {
    border: 3px solid rgba(0, 0, 0, 0);
    margin: 10px 0px;
  }
  /* Hero sub title text */
  .hero-text h5 {
    font-family: 'montserrat', sans-serif;
    text-align: center; 
    font-style: normal;
    font-size: 2.2em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-bottom: 10vh;
    text-shadow:
    -1px 1px 1px #454545,
    1px 1px 1px #454545,
    1px -1px 0px #454545,
    -1px -1px 0px #454545;
    /* background-color: rgba(120, 162, 179, 0.195); */
    border-radius: 20px;
    padding: 10px 10px;
  } 

  @media screen and (max-width: 991px),(max-height: 850px) {
    .hero-text h1 {
      font-size: 2em;
    }
    .hero-text h5 {
      font-size: 1.2em;
      margin-bottom: 1vh;
    }
  }
  @media screen and (max-width: 576px) {
    .hero-text  {
      max-width: 95vw;
      padding-left: 2%;
      padding-right: 2%;
    }
  }
  @media screen and (max-width: 480px) {
    .hero-text h1 {
      font-size: 1.5em;
    }
  }
    
  

  /* buttons container */
  .hero-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin-top: 1.5rem;
    padding-left: 5%;
    padding-right: 5%;
  }

  @media screen and (max-width: 960px) {
    .hero-buttons {
      flex-direction: column;
      width: max-content;
      margin-top: 0.5rem;
      gap: 1rem;
    }
  }
  @media screen and (max-width: 576px) {
    .hero-buttons {
      max-width: 90vw;
    }
  }

  /* Single Hero buttons */
  .hero-buttons button { 
    position: relative;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-weight: 900;
    font-size: 2em;
    border-radius: 30px;
    transition: all .3s ease-in-out;
    padding: 3px 10px;
    max-width: 70vw;
    min-width: 50%;
  }
  @media screen and (max-width: 1400px) {
    .hero-buttons button {
      font-size: 1.6em; 
    }
  }
  @media screen and (max-width: 1200px) {
    .hero-buttons button {
      font-size: 1.4em; 
    }
  }
  @media screen and (max-width: 960px) {
    .hero-buttons button{
      font-size: 1.3em;
    }
  }
  @media screen and (max-width: 576px) {
    .hero-buttons button{
      max-width: 90vw;
      min-width: 60vw;
      font-size: 1.1em;
    }
  }

  /* Button Background */
  .hero-buttons .offer-btn {
    color: rgb(106, 209, 253);
    background-color: white;
    border: 4px solid rgb(255, 255, 255);
  }
  .hero-buttons .shop-btn {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 4px solid rgb(255, 255, 255);
  }

  /* button hover */
  .hero-buttons .offer-btn:hover {
    cursor: pointer;
    color: rgb(247, 2, 2);
    background-color: white;
    transform: scale(1.1);
  }
  .hero-buttons .shop-btn:hover {
    cursor: pointer;
    color: rgb(247, 2, 2);
    background-color: white;
    transform: scale(1.1);
  }




  /* HERO RIGHT IMAGE CONTAINER
  ––––––––––––––––––––––––––––––– */
  .right-container {
    width: 50vw;
    height: 100%;
    background-color: transparent;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 480px) {
    .right-container {
      width: 100%;
      align-items:flex-start;
    }
  } 

  /* Hero Image */
  .right-container img {
    min-width: 17vw;
    width: 100%;
    height: auto;
    max-height: 70vh;
    z-index: 2; 
  }
  @media screen and (max-width: 576px) {
    .right-container img {
      max-width: 40vw;
      min-height: 10vh;
      margin-top: 2rem;

    }
  }
  @media screen and (max-width: 380px) {
    .right-container img {
      max-height: 17vh;
      margin-top: 2rem;
    }
  }

  /* Pump Image Animation */
  .pump-container {
    display: flex;
  }
  .pump-container.move {
      animation-name: movepump;
      animation-duration: 2000ms;
      animation-iteration-count: 1;
  }
  @keyframes movepump {
    from {
        translate: 600px 600px;
    }
    to {
        justify-content: flex-end;
    }
  }

  /* HERO INNER SINGLE CONTAINER
  ––––––––––––––––––––––––––––––– */
  .hero-inner-single {
    max-height: min-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
    z-index: 10;
  }

  /* Hero Last Text */
  .last-hero-text h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 1.7em;
    text-shadow:
    -1px 1px 2px rgb(0, 0, 0),
    1px 1px 2px rgb(0, 0, 0),
    1px -1px 0px rgb(0, 0, 0),
    -1px -1px 0px rgb(0, 0, 0);
    letter-spacing: 6px;
    word-spacing: 12px;
    font-weight: 800;
    margin-top: 5rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background-color: rgba(120, 162, 179, 0.195);
    border-radius: 20px;
    width: 90vw;
    padding: 10px 20px;
  }
  @media screen and (max-width: 991px) {
    .last-hero-text h1 {
      font-size: 1.3em;
      font-weight: bold;
      letter-spacing: 4px;
      word-spacing: 1px;
    }
  }
  /* Media Queries */
  @media screen and (max-width: 576px) {
    .last-hero-text h1 {
      margin-top: 3rem;
    }
  }

  /* Hero Scroll down */
  .scroll-down.container {
    margin-top: 1rem;
    position: relative;
    width: 24px;
    height: 24px;
    transform: scale(1.2);
    display: flex;
    justify-content: center;
  }
  .chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }
  .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }
  .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }
  .chevron:before,
  .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #484747;
  }
  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }
  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }
  @keyframes move {
    25% {
      opacity: 1;
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  /* Scroll text */
  .text {
    display: block;
    text-align: center;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #464646;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
  }
  @keyframes pulse {
    to {
      opacity: 1;
    }
  }
  /*********** End Hero Section *****************************/           
  /**********************************************************/











  /**********************************************************/
  /********** Start Benefits Section ************************/
  /**********************************************************/
    #benefits {
      font-family: 'Kanit', sans-serif;
      background: white;
      display: flex;
      justify-content: center;
    }

    .benefits .title {
      font-weight: light;
      font-style: italic;
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 0px;
      word-spacing: normal;
      color: #050505;
      z-index: 200;
      text-align: center;
      background-color: transparent;
    }

    .benefits .sub-title {
      color: aliceblue;
      font-weight: bold;
      text-transform: uppercase;
      word-spacing: 1px;
      display: flex;
      justify-content: center;
      padding-left: 8%;
      padding-right: 8%;
      margin-top: 1rem;
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
      background: linear-gradient(90deg, white -5%, #1e91d3 50%, #ffffff 105%);
    }

    
  /* sub title under icons */
  .benefits h3 {
    position: relative;
    margin-top: 3rem;
    color: rgb(58, 57, 57);
    text-shadow: 0px 0px 1px rgb(162, 160, 160);
    font-weight: 600;
  }
  .benefits p {
    font-family: 'montserrat', sans-serif;
    color: rgb(7, 7, 7);
    text-shadow: 0px 0px 1px rgb(162, 160, 160);
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 2em;
  }
  /* benefits "Icons" */
  .benefits img{
    height: 100px;
    width: 100px;
    border-radius: 12%;
    box-shadow: #02a4f4 0px 0px 9px 15px, #000000 0px 0px 1px 20px ;
    background-color: #ffffff;
    margin-top: 3rem;
    margin-bottom: 1em;
  }
  .benefits img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }


  /* buttons container */
  .benefits-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-top: 3rem;
  }

  @media screen and (max-width: 576px) {
    .benefits-buttons {
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin-top: 0.5rem;
      gap: 3rem;
      min-width: 70vw;
    }
  }




  /* Single Benefits buttons */
  .benefits-buttons button { 
    color: rgb(0, 0, 0);
    position: relative;
    display: flex;
    justify-content: space-around;
    font-weight: 900;
    font-size: 1.8em;
    border-radius: 30px;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    padding: 3px 20px;
    min-width: 40%;
    max-width: 50vw;
  }
  @media screen and (max-width: 768px) {
    .benefits-buttons button{
      font-size: 1.2em;
    }
  }
  @media screen and (max-width: 576px) {
    .benefits-buttons button{
      max-width: 90vw;
    }
  }





  /* Button Background */
  .benefits .offer-btn {
    color: white;
    background-color: rgb(22, 109, 156);
    border: 4px solid rgb(22, 109, 156);
  }
  .benefits .shop-btn {
    color: rgb(22, 109, 156);
    background-color: white;
    border: 4px solid rgb(22, 109, 156);
  }
  
  /* button hover */
  .benefits .offer-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  .benefits .shop-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  
  /*********** End Benefits Section *****************************/           
  /***************************************************************/










/****************************************************************/
/********** Start Work Place Section ****************************/
/****************************************************************/

.work-place {
  height: 600px;
  width: 100vw;
  background: radial-gradient( circle farthest-corner at 50% 105%, rgb(248, 249, 251) 0%,
   rgb(7, 68, 101)) 95%,
     rgba(255,255,255,0.5) 100.2% ;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work-place .title1 {
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 3rem;
}
/* Title animation which moves the title from up */
.work-place .title1.move-from-right {
  animation-name: movefromright;
  animation-duration: 3000ms;
  animation-iteration-count: 1;
}
@keyframes movefromright {
  from {
    translate: 2000px 0px;
  }
  to {
    justify-content: center;
  }
}



/*    Van Overlay                         
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.work-place .van-container {
  display: flex;
  justify-content: center;
}

.overlay-van:hover {
  cursor: pointer;
  transform: scale(1.05);
  filter: drop-shadow(0 0 0.1rem white);
}

.work-place .overlay-van {
  height: auto;
  width: 60vw;
  background-repeat: no-repeat;
  justify-content: center;
  z-index: 2;
}


/* Van animation which moves the van inside the screen */
.work-place .van-container.move-from-left {
    animation-name: movefromleft;
    animation-duration: 2000ms;
    animation-iteration-count: 1;
}
@keyframes movefromleft {
  from {
      translate: -2000px;
  }
  to {
      justify-content: center;
  }
}











  
  /********** End Work Place Section ****************************/
  /****************************************************************/




    
