
.results {
  width: 100%;
}

.results a {
  text-decoration: none;
}

.no_result_text {
  width: 100%;
  height: 100%;
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 5rem;
  position:relative;
  }

  .only_searched_data_span {
    font-weight: bold;
  }


  .no_result_img{
    margin: 1rem;
    display: grid;
    place-items: center;
  }

  .no_result_img img {
    max-height: 180px;
    width: auto;
    
  }
  

  
 