{% extends "base.html" %}
{% load static %}
{% block title %} Landing {% endblock title %}

{% block css_files %}
<!-- CSS -->
<link rel="stylesheet" href="{% static 'landing/test.css' %}">
<!-- Google Icons-->
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,100,1,200" rel="stylesheet" />
{% comment %} <span class="material-symbols-outlined">search</span> {% endcomment %}
{% endblock css_files %}









{% block navbar %}
        <!-- Header -->
        <header>

          <!-- Navbar -->
          <nav id="navbar" class="navbar-container">
            
              <!-- Logo-->
              <a class="navbar-logo" href="#home"><img src="{% static 'shop/images/swiss heating (1000 × 1000 px).png' %}">
              </a>
              <!-- End Logo-->

              <!-- Navigation List -->
              <ul class="navbar-list">
                <li class="nav-item">
                  <a class="nav-link" href="#featured-destinations">Shop</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#request-quote">Offre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#request-quote">Contact</a>
                </li>
              </ul>
              <!-- End Navigation List -->

              <!-- login Button -->
                  <button class="login-btn" onclick="showHamburger" type="button" href="{% url 'login-path' %}" >
                    <i class="fa-solid fa-user"></i><span class="padding_10">Login</span>
                  </button> 
              <!-- login Button end -->

              <!-- Navbar Hamburger Menu when small size -->
              <div class="hamburger-container">
                <div onclick="openMenu()" class="hamburger">
                    <i class="fa fa-bars"></i>
                </div>
              </div>
              <!-- End Navbar Hamburger when small size -->


              <!-- collapsed menu-->
              <div class="menu">
                <center class="mt-5" style="background-color: red;">
                  <img class="" style="height: 150px; filter: invert(80%)" src="{% static 'inbox_app/img/logo-only-black.png' %}" alt=""/>    
                </center>
                <ul class="menu-list">
                    <li class="menu-item-1">
                      <a href="{% url 'login-path' %}"  class="login-btn menu-link" type="button" >
                        <i class="fa-solid fa-user"></i><span class="padding_10">Login</span>
                      </a>
                    </li>
                    <li class="menu-item-2">
                      <a class="menu-link" href="offer">Shop</a>
                    </li>
                    <li class="menu-item-3">
                      <a class="menu-link" href="shop">Offre</a>
                    </li>
                    <li class="menu-item-4">
                      <a class="menu-link" href="contact">Contact</a>
                    </li>
                </ul>
                <!-- Background Logo in Off-Canvas-->
                <center class="off-canvas-background-logo">
                  <img src="{% static 'shop/images/logo img.png' %}" alt=""/>    
                </center>

              </div>
              <!-- End collapsed menu-->


            </nav>
          
        </header>
        <!-- End Header -->
{% endblock navbar %}


{% block content %}

  <!-- ======= Main ======= -->
  <main id="main">




      <!-- ======= Hero Outer Container ======= -->
      <div class="hero-outer-container">
            
            <!-- Hero Inner Double Container-->
            <div class="hero-inner-double">

                        <!-- Left Container -->
                        <div class="left-container">

                            <!-- Hero Text -->
                            <div class="hero-text hidden">
                              <h1>Découvrez nos solutions de chauffage modernes.</h1>
                                <hr class="middle-line">
                              <h5 class="gradient-text">
                                 Obtenez une offre pour une installation de pompe à chaleur <span style="color:rgb(218, 213, 213); letter-spacing: 2px;">&nbsp;ou&nbsp;</span> achetez directement en tant que particulier votre matériel.
                              
                                 </h5>
                            </div>
                            <!-- End Hero Text -->

                            <!-- Hero Buttons-->
                            <div class="hero-buttons hidden">
                              <button class="offer-btn">Je veut une Offre</button>
                              <button class="shop-btn" >&nbsp;&nbsp;Voir notre Shop&nbsp;&nbsp;</button>
                            </div>
                            <!-- End Hero Buttons-->

                        </div>
                        <!-- End Left Container -->

                        <!-- Right Image Container -->
                        <div class="right-container">
                          <div class="pump-container hidden">
                             <img class="overlay-pump" src="{% static "shop/images/pump11.png" %}" alt="">
                          </div>
                        </div>
                        <!-- End Right Image Container -->

              </div>
              <!-- End Hero Inner Double Container-->


              <!-- Hero Inner Single Container-->
              <div class="hero-inner-single">

                        <!-- Last Hero Text-->
                        <div class="last-hero-text hidden">
                            <h1>Pourquoi Nous Choisir Nous?</h1>
                        </div>
                        <!-- End Last Hero Text-->

                        <!-- Scroll down -->
                        <div class="scroll-down container hidden">
                            <div class="chevron"></div>
                            <div class="chevron"></div>
                            <div class="chevron"></div>
                            <span class="text">Scroll</span>   
                        </div>
                        <!-- End Scroll down -->
              </div>
              <!-- End Hero Inner Single Container-->


      </div>
      <!-- ======= End Hero ======= -->
      






{% comment %} 
          <!-- Overlay Van-->
          <a href="{% url "about-us-path" %}">
            <div class="van-container hidden">       
                <img class="overlay-van" src="{% static "shop/images/Dark Gray & Blue Illustration Mountain Desktop Wallpaper.png" %}" alt="">
            </div>
          </a>
          <!-- End Overlay Van--> {% endcomment %}





          <!-- Our Qualitys Section -->
          <section id="benefits" class="benefits hidden">
            <div class="container-fluid container-fluid-max">
              <div class="row text-center py-5">

                 <!-- Title -->
                <div class="col-12 pb-4 hidden"> 
                  <h1 class="title">
                    "Avec nos Années de Maîtrise dans le Chauffage, Nous Incarnons la Qualité Pure Suisse"
                    <br>
                    <br> 
                  </h1>
                  {% comment %} <h4 class="sub-title">Chaque Projet Signifie : </h4> {% endcomment %}               
                </div>
                <!-- End Title -->



                <!-- First Quality -->
                <div class="item col-12 col-sm-6 col-lg-3 hidden">                 
                  <img src="{% static "shop/images/reactive_call.png" %}" alt="">
                  <h3 class="">Disponibilité Réactive</h3>
                  <p>Réactivité assurée pour une communication fluide et un service client efficace. <br>
                  <h5>Contact nous: &nbsp;<a href="">(+41) 077 485 41 34</a></h5></p>
                  
                </div>
                <!-- End First Quality -->




                <!-- Second Quality -->
                <div class="item col-12 col-sm-6 col-lg-3 hidden">
                  <img src="{% static "shop/images/calendar.png" %}" alt="">
                  <h3 class="">L'Engagement de Fiabilité</h3>
                  <p>Engagement total envers la fiabilité et la confiance en nos promesses.</p>
                </div>
                <!-- End Second Quality -->




                <!-- Third Quality -->
                <div class="item col-12 col-sm-6 col-lg-3 hidden">
                    <img src="{% static "shop/images/cleaning.png" %}" alt="">
                    <h3 class="">Protection et Propreté Inégalées</h3>
                    <p>Priorité absolue à la propreté, garantissant un espace impeccable.</p>
                </div>
                <!-- End Third Quality -->





                <!-- Fourth Quality -->
                <div class="item col-12 col-sm-6 col-lg-3 hidden">
                    <img src="{% static "shop/images/piggybank.png"%}" alt="">
                    <h3 class="">Prix Imbattables en Suisse</h3>
                    <p>Pompes à chaleur de haute qualité accessibles à tous en Suisse, et ce, sans distinction de métier.</p>
                </div>
                <!-- End Fourth Quality -->



                  <!-- Buttons-->
                  <div class="benefits-buttons hidden">
                    <button class="offer-btn">Besoin d'une offre clé en main?</button>
                    <button class="shop-btn" >&nbsp;&nbsp;&nbsp;&nbsp;Je veut juste du matériel !&nbsp;&nbsp;&nbsp;&nbsp;</button>
                  </div>
                  <!-- End Buttons-->

              </div>
            </div>
          </section>
          <!-- End Our Qualitys Section -->


          <!-- ======= Our work place Section ======= -->
          <section id="work-place" class="work-place">

            <div class="title1 hidden">
              <h1>Nous sommes présent dans toute la Suisse!</h1>
            </div>

            
            <!-- Overlay Van-->
            <a href="{% url "about-us-path" %}">
              <div class="van-container hidden">       
                  <img class="overlay-van" src="{% static "shop/images/Dark Gray & Blue Illustration Mountain Desktop Wallpaper.png" %}" alt="">
              </div>
            </a>
            <!-- End Overlay Van-->

          
          </section>



  {% comment %}             <div class="col-12 col-md-6 footer-child copyright">
                HoneyDreams © 2018 All Rights Reserved
              </div>
              <div class="col-12 col-md-6 footer-child footer-links">
                <a href="" class="mr-3">Privacy Policy</a>
                <a href="">FAQ</a>
                <div>
                  <small>Made with <i class="fas fa-heart text-red"></i> by <a href="http://georgemartsoukos.com/" target="_blank">George Martsoukos</a>
                  </small>
                </div> {% endcomment %}
      
     
        {% block footer_block %}{% endblock footer_block %}






{% block js_files %}

{% endblock js_files %}


{% endblock content %}
