{% extends 'base.html' %}
{% load static %}

{% block title %}Password reset{% endblock title %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'members/login.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-obalu.min.css' %}">
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock css_files %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="box">
                <h1>Vous avez oublié votre mot de passe?</h1>
                <p>Entrez votre adresse email si dessous</p>

                <form method="post" action="/">
                    {% csrf_token %}

                    {{ form.as_p }}
                    <button type="submit">Envoyer</button>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock content %}           