{% extends 'base.html' %}
 {% load static %}
    {% block tiile %}404{% endblock tiile %}

    {% block css_files %}
    <link rel="stylesheet" href="404.css">
    {% endblock css_files %}


    {% block content %}
<section class="tv-error-404-tm" style="background-image: url(http://home.cern/sites/home.web.cern.ch/files/image/computing_page/2013/01/tier_0_servers.jpeg); background-position:top center; background-size:cover; height:800px;">
    <div class="tv-dark-background-tm"></div>
    <div class="container tv-error-content-tm">
      <div class="col-md-12">
        <h1>Page not Found</h1>
        <h3>The page you are looking for does not exist or has changed.</h3>
        <div class="tv-error-links-tm">
          <a href="#" class="btn">Home Page</a> 
          <a  class="btn"  onclick="window.history.go(-2);">Go Back</a>
        </div>
      </div>
    </div>
  </section>{% endblock content %}