{% extends 'base.html' %}
 {% load static %}
    {% block tiile %}404{% endblock tiile %}

    {% block css_files %}
    <link rel="stylesheet" href=" {% static 'css/404.css' %}">
    <link rel="stylesheet" href="{% static 'shop/search-results.css' %}">
    {% endblock css_files %}


    {% block content %}


  
    <div class="container results">
        <div class="row">
            
            <div class="no_result_img col-12">
                <img src="{% static 'shop/images/result.png' %}" alt="">
            </div>

            <div class="no_result_text" style="color:black;">
                
                Désolé, il semble que votre requête n'ait pas abouti cette fois-ci.
                <br>
                <br>
                Nous n'avons trouvé aucun résultat ou page correspondant à votre recherche de page.
                <br>
                <br>
                Si vous avez des questions ou besoin d'une assistance supplémentaire, n'hésitez pas à nous contacter. 
                <br>
                <br>
                Nous sommes là pour vous aider dans votre recherche et trouver le produit idéal.
            </div>
            

        </div>
    </div>



  
   
      <div class="text__404 col-md-12">

        <div class="tv-error-links-tm">
          <a href="#" class="btn">Home Page</a> 
          <a  class="btn"  onclick="window.history.go(-2);">Go Back</a>
        </div>
      </div>
    
  </section>{% endblock content %}