{% extends 'base.html' %}
{% load static %}


{% block title %}Toutes notre collection{% endblock title %}


{% block css_files %}<link rel="stylesheet" href="{% static 'shop/all-puffer.css' %}">

{% endblock css_files %}

{% block content %}

<div class="container ">
    <div class="container all_puffer">
        <div class="row">
            {% for puffer in all_puffer  %}
                <div class="col-4 mg-5 mt-5">
                {% include 'shop/single_puffer_for_all_puffers.html' %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>    
{% endblock content %}
