{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}



{% block css_files %}
   <!-- static css -->
   <link rel="stylesheet" href="{% static 'shop/index.css' %}">
   <!-- single pump css / needed for correct display in carousel -->
   <link rel="stylesheet" href="{% static 'shop/single_pump_for_carousel.css' %}">
   <!-- single puffer css / needed for correct display in carousel -->
   <link rel="stylesheet" href="{% static 'shop/single_puffer_for_carousel.css' %}">
   <!-- Owl Carousel -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock css_files %}


{% block content %}

<hr>
   <h1 class="pump_title mb-5">Nos pompes à chaleurs</h1>
<hr>

<div class="main__container">
   <div class="col-12">
      <div class="row">


            <!-- ======= Heat-pump carousel ======= -->
            <div class="pump__container">
                  <div class="row">
            
            
                     <!-- container that wraps the items -->
                     <div class="carousel-container-pump owl-carousel" id="pumpSlider">
                        {% for pump in pumps %}
                           <div class="">
                              {% include 'shop/single_pump_for_carousel.html' %}
                           </div>
                        {% endfor %}
                     </div>

                  <!-- Buttons are outside of the container -->
                  
                     <div class="pumpSlider-controls">
                        <a id="pumpSliderLeft" class="carousel-control-prev my-custom-buttons"  data-slide="prev">
                           <i class="bi bi-shift-fill bi-icon" style="transform: rotate(-90deg);"></i>
                        </a>
                     
                        <a id="pumpSliderRight" class="carousel-control-next my-custom-buttons"  data-slide="next">
                           <i class="bi bi-shift-fill bi-icon" style="transform: rotate(90deg);"></i>
                        </a>
                        
                     </div>

                  </div>
            </div>
      </div>
   </div>
</div>



<hr>
   <h1 class="puffer_title mb-5 mt-3">Nos Accumulateurs pour votre système</h1>
<hr>

<div class="main__container">
   <div class="col-12">
      <div class="row">

         <!-- ======= Puffer carousel ======= -->
            <div class="puffer__container">
                  <div class="row">
      
                     <!-- container that wraps the items -->
                     <div class="carousel-container-puffer owl-carousel" id="pufferSlider">
                        {% for puffer in puffers %}
                           <div class="">
                              {% include 'shop/single_puffer_for_carousel.html' %}
                           </div>
                        {% endfor %}
                     </div>

      
                     <!-- Buttons are outside of the container -->
                  
                     <div class="pufferSlider-controls">
                        <a id="pufferSliderLeft" class="carousel-control-prev my-custom-buttons"  data-slide="prev">
                           <i class="bi bi-shift-fill bi-icon" style="transform: rotate(-90deg);"></i>
                        </a>
                        <a id="pufferSliderRight" class="carousel-control-next my-custom-buttons"  data-slide="next">
                           <i class="bi bi-shift-fill bi-icon" style="transform: rotate(90deg);"></i>
                        </a>
                     </div>
                  

                  </div>
            </div>



      </div>
   </div>
</div>
{% endblock content %}