{% load static %}


<link rel="stylesheet" href="{% static 'shop/single_pump.css' %}">


    
              
 <div class="container" style="display: flex; flex-direction: column; height:100%">
    <div class="box_main">
        
            <div class="text" style="flex-grow: 1;"> 
                <h4 class="shirt_text">{{pump.brand}} {{pump.model}}</h4>
            </div>
            <div class="electronic_img img-fluid" style="display:grid; place-items: center;">
                <a href="{{pump.get_absolute_url}}"><img src="{{pump.img.url}}" alt="{{pump.model}}">
            </div> 
            <div>
                <p class="price_text">Prix:  <span style="color: #262626;">{{pump.price}}</span></p>
            </div>


            <div class="grid-container">
                <div class="card_cart_btn"><a href="{{pump.get_absolute_url}}"><i class="bi bi-cart-plus-fill"></i></a></div>
                <div class="detail_btn"><a href="{{pump.get_absolute_url}}"><i class="bi bi-arrow-up-right-circle-fill"></i></a></div> 
            </div>        
    </div>  
</div>
 
  
               

