{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'shop/single_puffer_for_carousel.css' %}">
{% endblock css_files %}
    

    

<div class="puffer_main">
        
     
        <h4 class="product_text">{{puffer.brand}} {{puffer.model}}</h4>
    
        <div class="puffer_img_container">
            <a href="{{pump.get_absolute_url}}"><img src="{{puffer.img.url}}" alt="{{puffer.model}}"></a>
        </div>
    
        <p class="price_text">Prix:  <span style="color: #262626;">{{puffer.price}}</span></p>
    

    <div class="grid-container">
        <a class="card_cart_btn" href="{{puffer.get_absolute_url}}"><i class="bi bi-cart-plus-fill"></i></a>
        <a class="detail_btn" href="{{puffer.get_absolute_url}}"><i class="bi bi-three-dots"></i></a> 
    </div>        
 

</div>
               

