{% extends 'base.html' %}
{% load static %}
{% block title %}TEST{% endblock title %}



{% block css_files %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" href="{% static 'shop/test.css' %}">
   <link rel="stylesheet" href="{% static 'shop/index.css' %}">
   <link rel="stylesheet" href="{% static 'shop/single_pump.css' %}">
   
{% endblock css_files %}
   

   

   
{% block content %}



<div class="container"  >
   <div class="row">
      
      

                              
       <div class="carousel-container owl-carousel" id="shopSlider" style="display: flex;">
         
            
            {% for pump in pumps %}
               <div class="item">
                  {% include 'shop/single_pump.html' %}
               </div>
            {% endfor %}
         </div>
      </div>           


                  <div class="container">
                     <div class="shopSlider-controls">
                        <div id="shopSliderLeft" class="shopSlider-arrow shopSlider-arrow--left">
                           <img src="https://res.cloudinary.com/dqdxca8sz/image/upload/v1577204832/%D0%98%D0%B7%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D1%8F%20%D0%B4%D0%BB%D1%8F%20%D1%81%D0%BB%D0%B0%D0%B9%D0%B4%D0%B5%D1%80%D0%B0%20%D1%87%D0%B5%D1%80%D0%B5%D0%B7%20owlcarousel2%20%D0%B4%D0%BB%D1%8F%20codepen%20%D0%B8%D0%B7%20%D0%B0%D0%BA%D0%BA%D0%B0%D1%83%D0%BD%D1%82%D0%B0%20freelancetesting/boards-left_zhyxah.svg" alt="Prew">
                        </div>
                        <div id="shopSliderRight" class="shopSlider-arrow shopSlider-arrow--right">
                           <img src="https://res.cloudinary.com/dqdxca8sz/image/upload/v1577204832/%D0%98%D0%B7%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D1%8F%20%D0%B4%D0%BB%D1%8F%20%D1%81%D0%BB%D0%B0%D0%B9%D0%B4%D0%B5%D1%80%D0%B0%20%D1%87%D0%B5%D1%80%D0%B5%D0%B7%20owlcarousel2%20%D0%B4%D0%BB%D1%8F%20codepen%20%D0%B8%D0%B7%20%D0%B0%D0%BA%D0%BA%D0%B0%D1%83%D0%BD%D1%82%D0%B0%20freelancetesting/boards-right_k0jkam.svg" alt="Next">
                        </div>
                     </div>
                  </div>



      </div>
   </div>
</div>


{% endblock content %} 
