{% load static %}



<link rel="stylesheet" href="{% static 'shop/includes/cube.css' %}">






<div class="container">
 <div class="slider1">
  
   <div class="container1">
     <div class="slid x"></div>
     <div class="slid y"></div>
     <div class="slid z"></div>
   </div>
   <div class="Shadow"></div>
 </div>
 <div class="container1">
     <div class="slid x"></div>
     <div class="slid y"></div>
     <div class="slid z"></div>
   </div>
 <div class="slid x"></div>
 <pseudo></pseudo>
   <pseudo></pseudo>
 <div class="slid x"></div>
 <div class="slid y"></div>
 <pseudo></pseudo>
   <pseudo></pseudo>
 <div class="slid y"></div>
 <div class="slid z"></div>
 <pseudo></pseudo>
 <pseudo></pseudo>
 <div class="slid z"></div>
 <div class="container1">
     <div class="slid x"></div>
     <div class="slid y"></div>
     <div class="slid z"></div>
   </div>
 




{% comment %} ORIGINAL {% endcomment %}
{% comment %} ORIGINAL {% endcomment %}



{% comment %}  <div class="title">
   <h1>Animated Cube Slider</h1>
   <p>CSS Only</p><br>
   <p class="small">best viewed in firefox</p>
 </div>
 <h1>Animated Cube Slider</h1>
 <p>CSS Only</p>
 <br>
 <p class="small">best viewed in firefox</p>
 <div class="title">
   <h1>Animated Cube Slider</h1>
   <p>CSS Only</p><br>
   <p class="small">best viewed in firefox</p>
 </div>  
 <div class="container">
  <div class="slider1">
   
    <div class="container1">
      <div class="slid x"></div>
      <div class="slid y"></div>
      <div class="slid z"></div>
    </div>
    <div class="Shadow"></div>
  </div>
  <div class="container1">
      <div class="slid x"></div>
      <div class="slid y"></div>
      <div class="slid z"></div>
    </div>
  <div class="slid x"></div>
  <pseudo></pseudo>
    <pseudo></pseudo>
  <div class="slid x"></div>
  <div class="slid y"></div>
  <pseudo></pseudo>
    <pseudo></pseudo>
  <div class="slid y"></div>
  <div class="slid z"></div>
  <pseudo></pseudo>
  <pseudo></pseudo>
  <div class="slid z"></div>
  <div class="container1">
      <div class="slid x"></div>
      <div class="slid y"></div>
      <div class="slid z"></div>
    </div>{% endcomment %}
  