{% load static %}




      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"> 
      <link rel="stylesheet" href="{% static 'shop/includes/navbar.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

      <!-- owl stylesheets banner -->
      <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&amp;display=swap&amp;subset=latin-ext" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen"> 
      <!-- owl stylesheets banner -->


   





<script>
      function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      }
      
      function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      }
</script>
<!-- OPEN NAV MENU -->



<div class="banner_bg_main">
   <!-- header top section start -->
   <div class="container">
      <div class="header_section_top">
         <div class="row">
            <div class="col-sm-12">
               <div class="custom_menu">
                  <ul>
                     <li><a href="#">Les meilleurs vendus</a></li>
                     <li><a href="#">Idées Cadeaux</a></li>
                     <li><a href="#">Nouvautées</a></li>
                     <li><a href="{% url 'about-us-path' %}">Sur nous</a></li>
                     <li><a href="{% url 'contact-path' %}">Nous contacter</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- header top section start -->
   <!-- logo section start -->
   <div class="logo_section">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <div class="logo"><a href="index.html"><img style="height: 100px;"src="{% static 'shop/images/swiss heating white (1000 × 1000 px).png' %}"></a></div>
            </div>
         </div>
      </div>
   </div>
   <!-- logo section end -->
   <!-- header section end -->
   <div class="header_section">
      <div class="container">
         <div class="containt_main">
            <div id="mySidenav" class="sidenav">
               <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
               <a href="{% url 'index-path' %}">Home</a>
               <a href="{% url 'all-pumps-path' %}">Pompes à chaleurs</a>
               <a href="{% url 'all-puffer-path' %}">Accumulateurs</a>
               <a href="{% url 'index-path' %}">Nos services</a>
            </div>
               <span class="toggle_icon" onclick="openNav()"><img src="{% static 'shop/images/toggle-icon.png' %}"></span>
                  <div class="dropdown">
                     <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Category 
                     </button>
                     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                     </div>
                  </div>

            <!-- Search bar start -->
            <div class="main">
                  <form method="POST" action="{% url 'search-results-path' %}">
                  {% csrf_token %}
                     <div class="input-group">
                        <input type="text" name="search_field" class="form-control bg-dark text-white" placeholder="Recherchez ici">
                           <div class="input-group-append">
                              <button class="btn btn-secondary" type="submit" style="background-color: red; border-color:#f26522; z-index:0;">
                                 <i class="fa fa-search"></i>
                              </button>
                        </div>
                     </div>
                  </form>  
            </div>
            <!-- Search bar end -->


            <!-- header box - language and login start -->
            <div class="header_box">
               <div class="lang_box ">
                  <a href="#" title="Language" class="nav-link" data-toggle="dropdown" aria-expanded="true">
                     <img src="{% static 'shop/images/flag-uk.png' %}" alt="flag" class="mr-2 " title="United Kingdom"> English <i class="fa fa-angle-down ml-2" aria-hidden="true"></i>
                  </a>
                     <div class="dropdown-menu ">
                        <a href="#" class="dropdown-item">
                           <img src="{% static 'shop/images/flag-france.png' %}" class="mr-2" alt="flag">
                              French
                        </a>
                     </div>
               </div>

               <div class="login_menu" style="z-index: 3;">
                  <ul>
                     <li><a href="{% url 'cart-path' %}">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span class="padding_10">Pannier</span></a>
                     </li>
                     <li>

                        {% if user.is_authenticated %}

                    <div class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">      
                     <a href=""><i class="fa fa-user" aria-hidden="true"></i><span class="padding_10" type="button">Compte</span></a>
                    </div>    
                        <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
                           <ul>
                              <li><a class="dropdown-item" href="#">informations personels</a></li>
                              <li><a class="dropdown-item" href="#">Commandes</a></li>
                              {% comment %}     leads to pop-up / modal       {% endcomment %}
                              <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">logout</a></li>
                           </ul>
                        </div>
                        
                        
                        {% else %} 
                           <a href="{% url 'login-path' %}"><i class="fa fa-user" aria-hidden="true"></i><span class="padding_10">Login</span></a>
                        {% endif %}
                     </li>
                  </ul>
               </div>
            </div>
            <!-- header box - language and login end -->
         </div>
      </div>
   </div>
   <!-- header section end -->




  <!--   Small modal POP-UP   -->
  <div class="modal" id="logoutModal" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog modal-sm">
     <div class="modal-content">

       <div class="modal-header" style="align-text: center;">
         
         <h4>Log Out <i class="fa fa-lock"></i></h4>
       </div>

       <div class="modal-body">
         <p><i class="fa fa-logout"></i> Êtes-vous sûr(e) de vouloir vous désinscrire? <br /></p>
         <div class="actionsBtns">

             
                 
                     <a href="{% url 'logout-path' %}"><button class="btn btn-default btn-primary" type="button">Logout</button></a>
                     <button class="btn btn-default" data-dismiss="modal">Cancel</button>
             

         </div>
       </div>
     </div>
   </div>
 </div>









   <!-- banner carrousel start -->
   <div class="banner_section ">
      <div class="container">
         <div id="my_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item">
                  <div class="row">
                     <div class="col-sm-12">
                       <h1 class="banner_taital">Notre "Heimat" <br>Les pompes pour les 
                          <span style="color:red; font-weight:bolder;">SUISSE</span>
                       </h1>
                        <div class="buynow_bt"><a href="#">Buy Now</a></div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="row">
                     <div class="col-sm-12">
                       <h1 class="banner_taital">Les prix <br>Les moins chères de 
                          <span style="color:red; font-weight:bolder;">SUISSE</span>
                       </h1>
                        <div class="buynow_bt"><a href="#">Buy Now</a></div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item active">
                  <div class="row">
                     <div class="col-sm-12">
                       <h1 class="banner_taital">Avec du plaisir <br>Qualité & Service 
                          <span style="color:red; font-weight:bolder;">SUISSE</span>
                       </h1>
                        <div class="buynow_bt"><a href="#">Buy Now</a></div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
            </a>
         </div>
      </div>
   </div>
   
   <!-- banner section end -->
  </div>
  <!-- banner bg main end -->
 


